<html>

<head>
    <h1>Details</h1>

</head>

<body>
    <h2>{{movie.title}}</h2>
    <p><b>Release date: </b> {{movie.release_date}}</p>
    <p><b>Description: </b>{{movie.description}}</p>
    <p><b>Director: </b> <a href="{% url 'person_detail' movie.director.id%}">{{movie.director}}</a> </p>
    <p><b>Characters</b></p>
    {% if characters %}
    <ul>
        {% for character in characters %}
        <p>

        </p>
        <li> {{character.nickname}} played by <a
                href="{% url 'person_detail' character.actor.id%}">{{character.actor}}</a></li>
        <p><b>Character reviews</b></p>
        {% for key, values in character_reviews.items%}
            {% if key == character.nickname %}
            {% for value in values%}
            <ul>Comment: {{value.review_text}} - Rating: {{value.rating}}</ul>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
    </ul>
    {% else %}
    <p>No characters are available.</p>
    {% endif %}

    <p><b>Movie reviwes</b></p>
    {% if movie_reviews %}
    {% for review in movie_reviews %}
    <ul>
        <p>Comment: {{review.review_text}} - Rating:{{review.rating}}</p>
    </ul>
    {% endfor %}
    </ul>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}
    <a href="/movies">Back to movies</a>


</html>